<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,271},{118,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,147}}</string>
                <key>sourceSize</key>
                <string>{118,147}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,122},{118,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,147}}</string>
                <key>sourceSize</key>
                <string>{118,147}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{118,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,147}}</string>
                <key>sourceSize</key>
                <string>{118,147}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,147}}</string>
                <key>sourceSize</key>
                <string>{118,147}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{118,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,147}}</string>
                <key>sourceSize</key>
                <string>{118,147}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{118,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,147}}</string>
                <key>sourceSize</key>
                <string>{118,147}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,147}}</string>
                <key>sourceSize</key>
                <string>{118,147}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,122},{102,125}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{102,125}}</string>
                <key>sourceSize</key>
                <string>{118,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63b774d25546fde6b7e41ffdb7799d2c$</string>
            <key>textureFileName</key>
            <string>weapon.png</string>
        </dict>
    </dict>
</plist>
