<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_level_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,630},{92,118}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,153},{92,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,724},{120,186}}</string>
                <key>offset</key>
                <string>{11,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,96},{120,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{108,228}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,54},{108,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{112,250}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,31},{112,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,256}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,25},{110,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{116,252}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,29},{116,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,116},{122,246}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,35},{122,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,240},{128,234}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,34},{128,234}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{130,236}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,35},{130,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,370},{122,216}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,54},{122,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,742},{128,200}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{128,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{132,202}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,50},{132,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{132,204}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,48},{132,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{132,208}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,43},{132,208}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>role_level_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,494},{134,206}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,47},{134,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ef_role_level.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a72f2237bcda1a75c66b23a3f9df14f$</string>
            <key>textureFileName</key>
            <string>ef_role_level.png</string>
        </dict>
    </dict>
</plist>
