<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>active/ditu00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{604,897}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,897}}</string>
                <key>sourceSize</key>
                <string>{604,897}</string>
            </dict>
            <key>active/ditu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1687},{379,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,232}}</string>
                <key>sourceSize</key>
                <string>{379,232}</string>
            </dict>
            <key>active/ditu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1295},{370,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,52}}</string>
                <key>sourceSize</key>
                <string>{370,52}</string>
            </dict>
            <key>active/touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1770},{135,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,151}}</string>
                <key>sourceSize</key>
                <string>{135,151}</string>
            </dict>
            <key>active/zhounianqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1512},{173,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,136}}</string>
                <key>sourceSize</key>
                <string>{173,136}</string>
            </dict>
            <key>goldShark/cheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1512},{116,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,102}}</string>
                <key>sourceSize</key>
                <string>{116,102}</string>
            </dict>
            <key>goldShark/jia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1770},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>goldShark/jia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,1157},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
            <key>goldShark/jia3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1157},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>goldShark/jia4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1630},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>goldShark/jia5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1630},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>goldShark/shayudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,901},{508,859}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,859}}</string>
                <key>sourceSize</key>
                <string>{508,859}</string>
            </dict>
            <key>goldShark/shayuka1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1796},{102,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,125}}</string>
                <key>sourceSize</key>
                <string>{102,125}</string>
            </dict>
            <key>goldShark/shayuka2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,792},{86,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,107}}</string>
                <key>sourceSize</key>
                <string>{86,107}</string>
            </dict>
            <key>goldShark/zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1630},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>kingEffect/baoshi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,1038},{89,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,87}</string>
            </dict>
            <key>kingEffect/baoshi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1209},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>kingEffect/baoshi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1209},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>kingEffect/baoshi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,1288},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>kingEffect/baoshi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,1592},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>kingEffect/baoshi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,1127},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,80}</string>
            </dict>
            <key>kingEffect/baoshi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,1373},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>kingEffect/baoshi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,792},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>kingEffect/baoshi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,950},{86,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,93}}</string>
                <key>sourceSize</key>
                <string>{86,93}</string>
            </dict>
            <key>lottery/baobaobaoanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1176},{135,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,137}}</string>
                <key>sourceSize</key>
                <string>{135,137}</string>
            </dict>
            <key>lottery/baobaobaodikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{212,894}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,894}}</string>
                <key>sourceSize</key>
                <string>{212,894}</string>
            </dict>
            <key>lottery/chexiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1209},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>lottery/chujichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1793},{122,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,136}}</string>
                <key>sourceSize</key>
                <string>{122,136}</string>
            </dict>
            <key>lottery/dierming.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1762},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>lottery/diermingdiwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,393},{389,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,29}}</string>
                <key>sourceSize</key>
                <string>{389,29}</string>
            </dict>
            <key>lottery/dikuangtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1549},{116,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,102}}</string>
                <key>sourceSize</key>
                <string>{116,102}</string>
            </dict>
            <key>lottery/dikuangtu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1431},{116,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,102}}</string>
                <key>sourceSize</key>
                <string>{116,102}</string>
            </dict>
            <key>lottery/dikuangtu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1313},{116,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,102}}</string>
                <key>sourceSize</key>
                <string>{116,102}</string>
            </dict>
            <key>lottery/dikuangtu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1018},{116,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,102}}</string>
                <key>sourceSize</key>
                <string>{116,102}</string>
            </dict>
            <key>lottery/dikuangtu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,900},{116,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,102}}</string>
                <key>sourceSize</key>
                <string>{116,102}</string>
            </dict>
            <key>lottery/dikuangtu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1793},{116,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,102}}</string>
                <key>sourceSize</key>
                <string>{116,102}</string>
            </dict>
            <key>lottery/dikuangtuzhongjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1793},{116,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,102}}</string>
                <key>sourceSize</key>
                <string>{116,102}</string>
            </dict>
            <key>lottery/disanming.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1762},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>lottery/disanmingdiwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,2},{389,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,29}}</string>
                <key>sourceSize</key>
                <string>{389,29}</string>
            </dict>
            <key>lottery/diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1762},{392,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,29}}</string>
                <key>sourceSize</key>
                <string>{392,29}</string>
            </dict>
            <key>lottery/diyiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,1527},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>lottery/diyimingdiwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,792},{382,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,29}}</string>
                <key>sourceSize</key>
                <string>{382,29}</string>
            </dict>
            <key>lottery/fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,1294},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>lottery/fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1917},{391,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,2}}</string>
                <key>sourceSize</key>
                <string>{391,2}</string>
            </dict>
            <key>lottery/fenzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1136},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>lottery/gaojichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1796},{122,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,136}}</string>
                <key>sourceSize</key>
                <string>{122,136}</string>
            </dict>
            <key>lottery/geren.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,762},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>lottery/jiangshibaobaobao.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1313},{455,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,113}}</string>
                <key>sourceSize</key>
                <string>{455,113}</string>
            </dict>
            <key>lottery/jilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1573},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>lottery/jiludi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,1597},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>lottery/qunti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,762},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>lottery/shouqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1157},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>lottery/shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1136},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>lottery/xinshouchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1797},{122,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,136}}</string>
                <key>sourceSize</key>
                <string>{122,136}</string>
            </dict>
            <key>lottery/xutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1494},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>lottery/zhemu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,1157},{97,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,35}}</string>
                <key>sourceSize</key>
                <string>{97,35}</string>
            </dict>
            <key>lottery/zhemu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1813},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,43}}</string>
                <key>sourceSize</key>
                <string>{98,43}</string>
            </dict>
            <key>lottery/zhongjiangtouxiangdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1687},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>lottery/zhongjichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1797},{122,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,136}}</string>
                <key>sourceSize</key>
                <string>{122,136}</string>
            </dict>
            <key>pandaGift/light.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{777,788}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{777,788}}</string>
                <key>sourceSize</key>
                <string>{777,788}</string>
            </dict>
            <key>pandaGift/shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1762},{150,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,32}}</string>
                <key>sourceSize</key>
                <string>{150,32}</string>
            </dict>
            <key>pandaGift/star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,1512},{142,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,66}}</string>
                <key>sourceSize</key>
                <string>{142,66}</string>
            </dict>
            <key>pandaGift/stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1295},{390,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,111}}</string>
                <key>sourceSize</key>
                <string>{390,111}</string>
            </dict>
            <key>zhuanpan/daoju1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1365},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>zhuanpan/daoju2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,1451},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>zhuanpan/guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1667},{101,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,85}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
            <key>zhuanpan/hongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,784},{164,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,95}}</string>
                <key>sourceSize</key>
                <string>{164,95}</string>
            </dict>
            <key>zhuanpan/jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1209},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>zhuanpan/light.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,792},{501,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,503}}</string>
                <key>sourceSize</key>
                <string>{501,503}</string>
            </dict>
            <key>zhuanpan/meiping.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,1209},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>zhuanpan/neiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,1681},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,197}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>zhuanpan/neiquanyinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1295},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,197}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>zhuanpan/pofengshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,686},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>zhuanpan/tuposhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,610},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>zhuanpan/waiquandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,2},{606,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,612}}</string>
                <key>sourceSize</key>
                <string>{606,612}</string>
            </dict>
            <key>zhuanpan/waiquanxuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1295},{215,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,214}}</string>
                <key>sourceSize</key>
                <string>{215,214}</string>
            </dict>
            <key>zhuanpan/waiquanzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,610},{546,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,545}}</string>
                <key>sourceSize</key>
                <string>{546,545}</string>
            </dict>
            <key>zhuanpan/zhizheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1494},{96,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,69}}</string>
                <key>sourceSize</key>
                <string>{96,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home1.png</string>
            <key>size</key>
            <string>{2032,1923}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ffb03f911546e48eeae56bb7434c991$</string>
            <key>textureFileName</key>
            <string>home1.png</string>
        </dict>
    </dict>
</plist>
